spring:
  application:
    name: aston_user_service_spring

  datasource:
    url: jdbc:postgresql://localhost:5432/userdb
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: public
        format_sql: true
    show-sql: true
    open-in-view: false

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: UTC

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.type.mapping: userEvent:ru.astondevs.kafka.event.UserEvent

# Топики для событий
app:
  kafka:
    topics:
      user-events: user-events-topic

server:
  port: 8080
  servlet:
    context-path: /user-service

logging:
  level:
    ru.astondevs: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE